<h1><%= @team.name %></h1>
<div><%= @team.name%>'s mascot is <%= @team.mascot%></div>
<div><%= image_tag(@team.image, alt: 'alt text is really require', width: 200)%></div>

<div><%= @team.name%> is founded on <%= @team.founded%></div>
<div><%= @team.name%>'s last position is <%= @team.last_position%></div>
